.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1e1e1e;
  color: white;
}

.game-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #f4f4f4;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 50px); 
  grid-template-rows: repeat(10, 50px); 
  gap: 2px;
  border: 2px solid white;
}

.grid-cell {
  border: 1px dashed grey;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a2a2a;
}


.red-tank {
  color: red;
  font-size: 1.5rem;
}


.blue-tank {
  color: blue;
  font-size: 1.5rem;
}

.tank-image {
  width: 40px; 
  height: 40px;
  object-fit: contain;
}

